<div>
    <h1>Nuestros productos</h1>
    <h2>Bienvenido {{user.name}}!</h2>

    <div>
        {{#each docs}}
            <div>
                <img width="200px" src="{{this.thumbnail.[0]}}" alt="{{this.description}}">
                <span>
                    <h3>{{this.title}}</h3>
                    <p>${{this.price}}</p>
                    <button onclick="{{}}">Add to cart</button>
                </span>
            </div>
        {{/each}}
    </div>

    <div>
        {{#if hasPrevPage}}
            <a href={{this.prevLink}}> << Anterior</a>
        {{/if}}
        &nbsp;
        {{this.page}}
        &nbsp;
        {{#if hasNextPage}}
            <a href={{this.nextLink}}>Siguiente >></a>
        {{/if}} 
    </div>
</div>